html {
      font-family:Arial, Calibri;
      background:#e2e2e2;
      color:#36393f;
      margin:0;
      padding:0;
      }

body {
      margin:0;
      padding:0;
      }

h1, h4   {
          color:#2d2d2d;
          }

#con1 {
       text-align:left;
	   font-size:18px;
       float:left;
       padding:10px;
       width:45%;
       height:auto;
       }

#game {
       width:500px;
       height:200px;
       background-image:url("../img/background.png");
       border:1px solid black;
       position:absolute;
       z-index:1;
       }

#character {
            width:20px;
            height:50px;
            background-image:url("../img/character.png");
            position:relative;
            top:150px;
            left:10px;
            z-index:5;
            }

.animate{
         animation:jump 500ms;
         }

@keyframes jump{
                0%{top:150px;
                   left:10px;}
                20%{top:120px;
                    left:15px;}
                30%{top:110px;
                    left:20px;}
                45%{top:100px;
                    left:25px;}
                55%{top:100px;
                    left:25px;}
                70%{top:110px;
                    left:25px;}
                80%{top:120px;
                    left:25px;}
                85%{top:120px;
                    left:25px;}
                95%{top:150px;
                     left:20px;}
                100%{top:150px;
                     left:15px;}
                }

#block {
        width:20px;
        height:20px;
        background-image:url("../img/enemy.png");
        position:relative;
        top:90px;
        left:480px;
        animation:block 1s infinite linear;
        z-index:4;
        }

@keyframes block {
                  0%{left:480px;}
                  100%{left:-40px;}
                  }

#block1 {
        width:40px;
        height:20px;
        background-image:url("../img/bush.png");
        position:relative;
        top:110px;
        left:480px;
        animation:block 900ms infinite linear;
        z-index:3;
        }

@keyframes block1 {
                  0%{left:480px;}
                  100%{left:-40px;}
                  }

#block2 {
        width:40px;
        height:20px;
        background-image:url("../img/cloud.png");
        position:relative;
        top:-20px;
        left:460px;
        animation:block 1500ms infinite linear;
        z-index:2;
        }

@keyframes block2 {
                  0%{left:480px;}
                  100%{left:-40px;}
                  }